<configuration>
	<appSettings>
	<!-- Batch Processing UI -->
		<add key="scenario.name" value="Scenario" />
		<add key="scenario.model_id" value="Model" />
		
		<add key="sim_queue.name" value="Sim Name" />
		<add key="sim_queue.model_id" value="Model" />
		<add key="sim_queue.scenario_id" value="Scenario" />
		<add key="sim_queue.current_status" value="Status" />
		
		<!-- Run Log -->
			<add key="run_log.calendar_date" value="date" />
			<add key="run_log.segment_id" value="Segment" />
			<add key="run_log.product_id" value="Product" />
			<add key="run_log.channel_id" value="Channel" />
			
		<!-- Simulation Metrics -->
		<add key="Metric.SimSummary" value="Sim Totals" />
		<add key="Metric.SimSummaryByProd" value="Summary by Product" />
		<add key="Metric.SimSummaryByProdChan" value="Summary by Product and Channel" />
		<add key="Metric.SimSummaryByProdChanSeg" value="Summary by Product, Channel, Segment" />
		<add key="Metric.CalSummary" value="MAPE Total" />
		<add key="Metric.CalSummaryByProd" value="Difference by Product" />
		<add key="Metric.CalSummaryByProdChan" value="Difference by Product and Channel" />
		<add key="Metric.CalSummaryByChan" value="Channel MAPE" />
	</appSettings>
</configuration>