@import url(MainStyles.css);

a, a:visited { text-decoration: underline; }

#ReportLink
{
	position: absolute;
	top: 120px;
	margin-left: 300px;
	font-size: 12pt;
}

#ShoppingListDiv 
{
	position: absolute;
	top: 142px;
	z-index:1;
	font-size: 10pt;
	margin-left: 30px;
}


#PhoneLabel { position: relative; top: 3px; }
#HelpEmailLink { position: absolute; left: 280px; top: 0px; font-family: Arial; font-size: 9pt; padding-top: 4px; color:White; }
#HelpEmailLink a { color:White; }
#BreadcrumbLabel { position: absolute; left: 180px;top: 0px; }

#ResultsNav1, #ResultsNav2, #ResultsNav3
{
	position: absolute;
	top: 117px;
	margin-left: 150px;
}

#ResultsNav2 { margin-left: 225px; }
#ResultsNav3 { margin-left: 350px; }
#SubTitle { top: 110px; margin-left: 5px; font-size: 26px; }
#Footer{ margin-left: 160px; }