<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeoFormatter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GeoFormatter.Properties.Settings>
            <setting name="geoDir" serializeAs="String">
                <value>D:\stuff</value>
            </setting>
            <setting name="webDir" serializeAs="String">
                <value>D:\stuff</value>
            </setting>
            <setting name="mediaConnectionStr" serializeAs="String">
                <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=dpmedia;Data Source=chaos</value>
            </setting>
        </GeoFormatter.Properties.Settings>
    </userSettings>
</configuration>