@import url(MainStyles.css);

#Footer
{
   position: absolute;
   margin-left: 250px;
	top: 460px;
}

#LoginPanel 
{
   position: absolute;
   top: 130px;
   width: 400px;
   height: 140px;
   background-color: White;
   border: solid 1px #00A;
   margin-left: 180px;
   padding-right: 20px;
   font-family:Arial, Sans-Serif;
   font-size: 10pt;
   color: Black;
}

#DivTitle { font-size: 11pt; position: absolute; top: 5px; left: 10px; font-weight: 600; }
#EmailLabel { position: absolute; top: 38px; left: 10px; }
#EmailTextbox { position: absolute; top: 35px; left: 110px; width: 270px; }
#GoButton { position: absolute; top: 70px; left: 120px; width: 150px; }
#SentLabel { position: absolute; top: 110px; left: 20px; font-size: 11pt;  color: Green; font-weight: bold; }

