@import url(MainStyles.css);

#Footer
{
   position: absolute;
   margin-left: 250px;
	top: 460px;
}

#LoginPanel 
{
   position: absolute;
   top: 130px;
   width: 400px;
   height: 160px;
   background-color: White;
   border: solid 1px #00A;
   margin-left: 180px;
   padding-right: 20px;
}

#ChangePassword1 
{
	font-size: 9pt;
	color: Black;
   margin-left: 20px;
   margin-top: 10px;
}

/*
#NewUserButtonDiv 
{
   position: absolute;
   top: 350px;
   height: 26px;
   font-size  : 10pt; 
   margin-left: 180px;
}
*/

#AnotherButton
{
   position : absolute;
   top: 350px;
   height: 26px;
   font-size  : 10pt; 
   margin-left: 140px;
}

.UserLogin
{
   position: relative;
   left: 30px;
   top: 20px;
}

.UserLogin, .UserLoginControl,  .UserLoginPwControl, .LoginButton
{
	font-size: 9pt;
}

.UserLoginControl 
{
	width: 280px;
}
.UserLoginPwControl 
{
	width: 180px;
}

.LoginButton 
 {
	font-size: 10pt;
 }
 
.LoginButtonDiv
 {
	width:100px;
 }
 
 .Ad1
{
	position: absolute; top: 120px; margin-left: 500px;
}