<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MrktSimDb.Properties.Settings.NIMORegressionConnectionString"
            connectionString="Data Source=CHAOS;Initial Catalog=NIMORegression;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>