<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HouseholdManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HouseholdManager.Properties.Settings>
            <setting name="hhinput_directory" serializeAs="String">
                <value>C:\devl\flypaper_data\sim_input</value>
            </setting>
            <setting name="rawdata_directory" serializeAs="String">
                <value>C:\devl\flypaper_data\raw_data</value>
            </setting>
            <setting name="output_directory" serializeAs="String">
                <value>C:\devl\flypaper_data</value>
            </setting>
            <setting name="persuasion_decay" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="awareness_decay" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="recency_decay" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="persuasion_saturation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="category_constant" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="mediaConnection" serializeAs="String">
                <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=dpmedia;Data Source=chaos</value>
            </setting>
            <setting name="simConnection" serializeAs="String">
                <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=dpsim;Data Source=chaos</value>
            </setting>
            <setting name="censusConnection" serializeAs="String">
                <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=census;Data Source=chaos</value>
            </setting>
            <setting name="rawMediaDbConnection" serializeAs="String">
                <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AdPlanit;Data Source=chaos</value>
            </setting>
        </HouseholdManager.Properties.Settings>
    </userSettings>
</configuration>