<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Calibrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="AdPlanIt.UserPlanStorageRoot" value="C:\FlypaperPlans"/>
    <add key="AdPlanIt.MediaDataRoot" value="C:\FlypaperData_devl\web_data"/>
    <add key="AdPlanIt.SystemDataFolder" value="C:\FlypaperData_devl"/>
    <add key="AdPlanIt.MediaDatabaseConnectionString" value="Data Source=ENOCH-PC\MSSMLBIZ;Initial Catalog=dpmedia;Integrated Security=True"/>
    <add key="AdPlanIt.SignupDataEntryPage" value="http://localhost:1889/pub/signup/Index.aspx"/>
    <add key="AdPlanIt.SignupProcessPage" value="http://localhost:1889/pub/Confirm.aspx"/>
    <add key="AdPlanIt.SiteEntryPage" value="http://localhost:1889/pub/Login.aspx"/>
    <add key="AdPlanIt.SignupNotificationRecipients" value="jjanssen@decisionpower.com,jjanssen@adplanit.com"/>
  </appSettings>
    <connectionStrings>
        <add name="Calibrator.Properties.Settings.MediaConnectionString" connectionString="Data Source=ENOCH-PC\MSSMLBIZ;Initial Catalog=dpmedia;Integrated Security=True"/>
        <add name="Calibrator.Properties.Settings.SimConnection" connectionString="Data Source=ENOCH-PC\MSSMLBIZ;Initial Catalog=devlsim;Integrated Security=True"/>
    </connectionStrings>
    <applicationSettings>
        <Calibrator.Properties.Settings>
            <setting name="MediaDataDirectory" serializeAs="String">
                <value>C:\FlypaperData_devl\web_data</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>C:\FlypaperData_devl\output</value>
            </setting>
        </Calibrator.Properties.Settings>
    </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
