<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MediaManager.Properties.Settings.AdPlanItConnectionString1"
            connectionString="Data Source=chaos;Initial Catalog=AdPlanIt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <MediaManager.Properties.Settings>
            <setting name="AdPlanItConnectionString" serializeAs="String">
                <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AdPlanit;Data Source=chaos</value>
            </setting>
        </MediaManager.Properties.Settings>
    </userSettings>
</configuration>