<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MediaLibrary.Properties.Settings.dpmediaConnectionString"
            connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=dpmedia;Data Source=chaos"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>