<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DpSimQueue.Properties.Settings.macproConnection" connectionString="Data Source=67.95.207.86;Initial Catalog=dpsim;Persist Security Info=True;User ID=mrktsim;Password=sim2007;Connect Timeout=0"
            providerName="System.Data.SqlClient" />
        <add name="DpSimQueue.Properties.Settings.dpsimConnectionString"
            connectionString="Data Source=CHAOS;Initial Catalog=dpsim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>